.node,
.js,
.react,
.html,
.css,
.sass,
.db,
.docker,
.gitsq,
.gith,
.aws,
.py {
  color:#D2FDFF;
  padding: 5rem 1rem;
  font-size: 4.8rem;
  opacity: 0;
  animation: mymove 4s ease forwards;
}

.aws {
  grid-area: aws;
  animation-delay: 5s;
}

.css {
  grid-area: css;
  animation-delay: 1.5s;
}

.node {
  grid-area: node;
  animation-delay: 5.5s;
}

.js {
  grid-area: js;
  animation-delay: 4s;
}

.react {
  grid-area: react;
  animation-delay: 3.5s;
}

.sass {
  grid-area: sass;
  animation-delay: 3s;
}

.db {
  grid-area: db;
  animation-delay: 2s;
}

.docker {
  grid-area: docker;
  animation-delay: 4.5s;
}

.gitsq {
  grid-area: gitsq;
  animation-delay: 0s;
}

.gith {
  grid-area: gith;
  animation-delay: 6.5s;
}

.html {
  grid-area: html;
  animation-delay: 2.5s;
}

.py {
  grid-area: py;
  animation-delay: 6s;
}

.icon-grid {
  position: absolute;
  display: grid;
  align-items: center;
  height: 95vh;
  width: 90vw;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: repeat(auto-fit, minmax(100px, auto));
  grid-template-areas:
    ". . . aws . . ."
    ". js . . py . docker"
    ". . gith . node . ."
    "css . . . . sass ."
    ". . react . . gitsq ."
    ". db . . html . .";
  z-index: 1;
}

@media only screen and (max-width: 1440px) {
  .node,
  .js,
  .react,
  .html,
  .css,
  .sass,
  .db,
  .docker,
  .gitsq,
  .gith,
  .aws,
  .py {
    padding: 1rem;
  }


  .icon-grid {
    font-size: 5rem;
    height: 90vh;
    grid-template-areas:
      "gith . . aws . node ."
      ". js . . py . docker"
      "css . . . . . sass"
      ". . react . . gitsq ."
      ". db . . html . .";
  }
}

@keyframes mymove {
  from{transform: translateY(-90vh); opacity: 0;}
  to{transform: translateY(0); opacity: 1; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
}