.icon-grid__node,
.icon-grid__js,
.icon-grid__react,
.icon-grid__html,
.icon-grid__css,
.icon-grid__sass,
.icon-grid__db,
.icon-grid__docker,
.icon-grid__gitsq,
.icon-grid__gith,
.icon-grid__aws,
.icon-grid__py {
  color:#D2FDFF;
  padding: 4rem 1rem;
  font-size: 4.8rem;
  opacity: 0;
  animation: mymove 4s ease forwards;
}

.icon-grid__aws {
  grid-area: aws;
  animation-delay: 5s;
}

.icon-grid__css {
  grid-area: css;
  animation-delay: 1.5s;
}

.icon-grid__node {
  grid-area: node;
  animation-delay: 5.5s;
}

.icon-grid__js {
  grid-area: js;
  animation-delay: 4s;
}

.icon-grid__react {
  grid-area: react;
  animation-delay: 3.5s;
}

.icon-grid__sass {
  grid-area: sass;
  animation-delay: 3s;
}

.icon-grid__db {
  grid-area: db;
  animation-delay: 2s;
}

.icon-grid__docker {
  grid-area: docker;
  animation-delay: 4.5s;
}

.icon-grid__gitsq {
  grid-area: gitsq;
  animation-delay: 0s;
}

.icon-grid__gith {
  grid-area: gith;
  animation-delay: 6.5s;
}

.icon-grid__html {
  grid-area: html;
  animation-delay: 2.5s;
}

.icon-grid__py {
  grid-area: py;
  animation-delay: 6s;
}

.icon-grid {
  position: absolute;
  display: grid;
  align-items: center;
  height: 95vh;
  width: 90vw;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: repeat(auto-fit, minmax(100px, auto));
  grid-template-areas:
    ". . . aws . . ."
    ". js . . py . docker"
    ". . gith . node . ."
    "css . . . . sass ."
    ". . react . . gitsq ."
    ". db . . html . .";
  z-index: 1;
}

@media only screen and (max-width: 1440px) {
  .icon-grid__node,
  .icon-grid__js,
  .icon-grid__react,
  .icon-grid__html,
  .icon-grid__css,
  .icon-grid__sass,
  .icon-grid__db,
  .icon-grid__docker,
  .icon-grid__gitsq,
  .icon-grid__gith,
  .icon-grid__aws,
  .icon-grid__py {
    padding: 1rem;
  }


  .icon-grid {
    font-size: 5rem;
    height: 90vh;
    width: 90vw;
    grid-template-areas:
      "gith . . aws . node ."
      ". js . . py . docker"
      "css . . . . . sass"
      ". . react . . gitsq ."
      ". db . . html . .";
  }
}

@keyframes mymove {
  from{transform: translateY(-90vh); opacity: 0;}
  to{transform: translateY(0); opacity: 1; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
}